## Problem Statement

You have been hired by the University of Data Science to manage their students' records.  Your job is to create the student management system for the university. Let's try to build the system using basic Python operations.


## Why solve this project?

After completing this project, you will get to know how to solve basic Python problems. In this project, you will be applying the following concepts:

* Mathematical operations
* List operations
* Dictionary operations 
* String indexing and formatting

### Student Management System

**Managing Student Information effectively**

Information needed:
1. Name
2. DOB
3. Gender
4. Course Name
5. Phone No
6. Email
7. Admission No
8. Student ID
9. Highest Qualification
10. Course Mode

Operations to be performed

1. Enter the details
2. Modify the details
3. Delete the details
4. Search the details
5. Basic analysis
6. Add new information
7. Getting Reports

### Task 1

**Let's create a new register by combining data from two classes while making some modifications to the register.
Instructions:**

   * Create a 'class_1' list and pass the elements 'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'.

   * Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'.

   * Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable.

   * Print the 'new_class' variable to see the new list.

You can now see the students list.

In [1]:
class_1 = [ 'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2 = [ 'Hilary Mason','Carla Gentry','Corinna Cortes']

In [4]:
#adding_method
class_3 = ['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
temp_class = [1,2,3]
temp_class.extend(class_3)  #to add elements of some list
temp_class

In [7]:
new_class = class_1 + class_2
new_class

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Carla Gentry',
 'Corinna Cortes']

### Task 2

Oops! Looks like we might have missed a student whose name is Peter Warden. Let's add him in the new register.

   * Add new element 'Peter Warden' in the 'new_class' list.

   * Print 'new_class' to see the updated list.

In [8]:
new_class.append('Peter Warden')

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Carla Gentry',
 'Corinna Cortes',
 'Peter Warden']

In [9]:
new_class

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Carla Gentry',
 'Corinna Cortes',
 'Peter Warden']

### Task 3

It seems like there could also be a wrong entry in the list whose name is Carla Gentry. Let's remove her from the register.

   * Remove the 'Carla Gentry'element from the 'new_class' list.

   * Print 'new_class' to see the updated list.

In [12]:
new_class.remove('Carla Gentry')

In [13]:
new_class

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Corinna Cortes',
 'Peter Warden']

In [14]:
#Remove duplicates
dup=new_class*3
dup

['Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Corinna Cortes',
 'Peter Warden',
 'Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Corinna Cortes',
 'Peter Warden',
 'Geoffrey Hinton',
 'Andrew Ng',
 'Sebastian Raschka',
 'Yoshua Bengio',
 'Hilary Mason',
 'Corinna Cortes',
 'Peter Warden']

In [16]:
#remove duplicates using set

removed_list = list (set(dup))

['Geoffrey Hinton',
 'Peter Warden',
 'Yoshua Bengio',
 'Corinna Cortes',
 'Hilary Mason',
 'Andrew Ng',
 'Sebastian Raschka']

In [17]:
removed_list

['Geoffrey Hinton',
 'Peter Warden',
 'Yoshua Bengio',
 'Corinna Cortes',
 'Hilary Mason',
 'Andrew Ng',
 'Sebastian Raschka']

### Task 4

**Let's create a dictionary for `Geoffrey Hinton` in each subject to generate his progress report.** 



#### Instructions

* Create a dictionary named `'courses'` using the keys and values given below


|course|marks|
|-----|-----|
|Math|65|
|English|70|
|History|80|
|French|70|
|Science|60|





* See the marks obtained in each subject.
 
* Add all the marks scored out of 100 and store it in a variable named `'total'`.


* Print `'total'`.


* Calculate the `'percentage'` scored by `'Geoffrey Hinton'` where addition of all the subjects is `500`.


* Print the `'percentage'`.

In [19]:
courses = {
    'Math':65,
    'English':70,
    'History':80,
    'French':70,
    'Science':60,
}

In [21]:
courses.items()

dict_items([('Math', 65), ('English', 70), ('History', 80), ('French', 70), ('Science', 60)])

In [31]:
#list_comprehension
[i for i in courses.values()]

[65, 70, 80, 70, 60]

In [33]:
total_obtained = sum([i for i in courses.values()])
total_obtained

345

In [36]:
percent = (total_obtained/500) * 100

In [37]:
percent

69.0

### Task 5

**For the student who got the highest marks in this subject, the school has decided to award a scholarship.
Let's check who performed best in mathematics from all the students who appeared for the test.**

#### Instructions

* Create a dictionary named `'mathematics'` using the keys and values given below.


|student|marks|
|-----|-----|
|Geoffrey Hinton|78|
|Andrew Ng|95|
|Sebastian Raschka|65|
|Yoshua Benjio|50|
|Hilary Mason|70|
|Corinna Cortes|66|
|Peter Warden|75|


***

    Example of max function:

~~~python

# calculate the max value

max_marks_scored = max(courses,key = courses.get)
print (max_marks_scored)

~~~

**Output**

~~~python
History
~~~
    

***



* Find out the student with the highest marks in Mathematics and store it in a variable `'topper'`.

In [39]:
mathematics = {
    'Geoffrey Hinton' : 78,
    'Andrew Ng' : 95,
    'Sebastian Raschka' : 65,
    'Yoshua Benjio': 50,
    'Hilary Mason':70,
    'Corinna Cortes' : 66,
    'Peter Warden' : 75
    
}

In [42]:
mathematics.values()

dict_values([78, 95, 65, 50, 70, 66, 75])

In [47]:
topper= max(mathematics, key = mathematics.get)
Max_marks=max(mathematics.values())

In [50]:
topper

'Andrew Ng'

In [49]:
Max_marks

95

### Task 6

**From the previous task, we know who is the 'Maths' topper in the class. You now have to print the name of the student on the certificate, but you will have to print his last name and then his first name.** 


## Instructions

* String name `'topper'` with the Math topper's name is given.


* Split the `'topper'` using the `"split()"` function and store the results in `'first_name'` and `'last_name'`.

***

    Example of split function:

~~~python

Quote = " I love data "

# To split the words of a sentence
print('-'*20)

# To access one word based on index
print(Quote.split()[2])

~~~

**Output**

~~~python
['I', 'love', 'data']
--------------------
data

~~~

    


***


*  Display the full name concatenating `+` the strings `'last_name'` and `'first_name'` strings. Don't forget to add a whitespace character between them to avoid displaying them together and store it in a `full_name` variable .


* Convert all the elements in the `'full_name'`string to uppercase, and store it to the `'certificate_name'` variable.


* Print `'certificate_name'`.

In [54]:
first_name,last_name = topper.split(' ')

In [57]:
full_name = last_name + ' ' + first_name

In [59]:
certificate_name = full_name.upper()

In [60]:
print(f'Mr {certificate_name} has scored highest marks: {Max_marks} in math')

Mr NG ANDREW has scored highest marks: 95 in math